@{
    ViewBag.Title = "Home Page";
}

<div class="icon">
    <div class="logo1"><img src="~/Stylesheet/AR.jpg" height="100" width="300" /></div>
    <div class="logo2"><img src="~/Stylesheet/sales logo.jpg" height="100" width="300" alt=""></div>
</div>
<div class="container">
    <div class="child1">
        <p>
            <h1 class="title"> AR ELECTRONICS</h1>
        </p>
        <ol class="itemslist">
            <li class="item">Laptops</li>
            <li class="item">TV's</li>
            <li class="item">TV's</li>
            <li class="item">Electronics cooking Appliances</li>
            <li class="item">5 STAR Company AC</li>
            <li class="item">Washing Machine</li>

        </ol>
        <p class="para">ALL are avalable  At cheaper price</p>
    </div>
    <div class="child2">
        
    </div>
</div>


